USE [master]
GO
/****** Object:  Database [polyuprotec]    Script Date: 18/05/2020 10:19:41 ******/
CREATE DATABASE [polyuprotec]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'polyuprotec', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS01\MSSQL\DATA\polyuprotec.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'polyuprotec_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS01\MSSQL\DATA\polyuprotec_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [polyuprotec].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [polyuprotec]
GO
USE [polyuprotec]
GO
/****** Object:  Table [dbo].[Archivo]    Script Date: 18/05/2020 10:19:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Archivo](
	[id_Archivo] [int] IDENTITY(1,1) NOT NULL,
	[Archivo] [varchar](50) NULL,
	[Tipo_Archivo] [varchar](50) NULL,
	[Carpeta_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Archivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Carpeta]    Script Date: 18/05/2020 10:19:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carpeta](
	[id_Carpetas] [int] NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Estado] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Carpetas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 18/05/2020 10:19:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Usuario] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[Tipo_usuario] [varchar](50) NULL
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Archivo]  WITH CHECK ADD  CONSTRAINT [FK_Archivo_Carpeta] FOREIGN KEY([Carpeta_id])
REFERENCES [dbo].[Carpeta] ([id_Carpetas])
GO
ALTER TABLE [dbo].[Archivo] CHECK CONSTRAINT [FK_Archivo_Carpeta]
GO
USE [master]
GO
